<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>R Arvind</title>
    <link rel="stylesheet" href="css/blog.css">
    <link href="https://fonts.googleapis.com/css?family=Oxygen" rel="stylesheet">
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
</head>

<body>
    <header>
        <div class="navbar">
            <div class="navbar-left">
                <div class="navbar-item">
                    LOGO
                </div>
            </div>
            <div class="navbar-right">
                <div class="navbar-item is-active">
                    Home
                </div>
                <div class="navbar-item">
                    Projects
                </div>
                <div class="navbar-item">
                    About Me
                </div>
                <div class="navbar-item">
                    GitHub
                </div>
            </div>
        </div>
    </header>

    <!-- <div class="card">
        <img src="bg1.jpg" alt="img" class="card-image">
        <div class="card-info">
            <div class="card-name">Sample card</div>
            <div class="card-date">4 September 2018</div>
        </div>
    </div> -->

    <div class="grid">
        <article class="grid-item content-box">
          <div class="inner">
          <img class="content-box-thumb" src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/6234/QrXgXMhCSouyhU7idq7g_IMG_8402.jpg' alt="tech image" />
          <h1 class="content-box-header">
            Fireworks on the 4th
          </h1>
          <p class="content-box-blurb">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil voluptatibus aliquam asperiores, cum distinctio aliquid recusandae velit beatae. Reprehenderit in eum, expedita, alias explicabo iure amet. Assumenda consequuntur vitae fugit.
          </p>
          <a class="readmore-link" href="#" >read more</a>
          </div>
        </article>
        <article class="grid-item content-box">
            <div class="inner">
            <img class="content-box-thumb" src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/6234/QrXgXMhCSouyhU7idq7g_IMG_8402.jpg' alt="tech image" />
            <h1 class="content-box-header">
              Fireworks on the 4th
            </h1>
            <p class="content-box-blurb">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil voluptatibus aliquam asperiores, cum distinctio aliquid recusandae velit beatae. Reprehenderit in eum, expedita, alias explicabo iure amet. Assumenda consequuntur vitae fugit.
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure eligendi ea harum praesentium id ducimus, consequatur pariatur obcaecati suscipit, nisi dicta. Impedit voluptatibus modi eum. Beatae voluptates architecto possimus praesentium!
            </p>
            <a class="readmore-link" href="#" >read more</a>
            </div>
          </article>
          
          <article class="grid-item content-box">
            <div class="inner">
            <img class="content-box-thumb" src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/6234/QrXgXMhCSouyhU7idq7g_IMG_8402.jpg' alt="tech image" />
            <h1 class="content-box-header">
              Fireworks on the 4th
            </h1>
            <p class="content-box-blurb">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil voluptatibus aliquam asperiores, cum distinctio aliquid recusandae velit beatae. Reprehenderit in eum, expedita, alias explicabo iure amet. Assumenda consequuntur vitae fugit.
            </p>
            <a class="readmore-link" href="#" >read more</a>
            </div>
          </article>

          <article class="grid-item content-box">
            <div class="inner">
            <img class="content-box-thumb" src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/6234/QrXgXMhCSouyhU7idq7g_IMG_8402.jpg' alt="tech image" />
            <h1 class="content-box-header">
              Fireworks on the 4th
            </h1>
            <p class="content-box-blurb">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil voluptatibus aliquam asperiores, cum distinctio aliquid recusandae velit beatae. Reprehenderit in eum, expedita, alias explicabo iure amet. Assumenda consequuntur vitae fugit.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, molestiae deserunt iusto mollitia doloribus, tenetur facilis ratione in aliquid quaerat sed eum tempore magni sequi nulla. Ex ut cum hic.
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam incidunt consectetur repellat eius velit quasi, atque sint reprehenderit dolore ad eum non consequuntur similique est fugit, ut maxime assumenda debitis?
            </p>
            <a class="readmore-link" href="#" >read more</a>
            </div>
          </article>

          <article class="grid-item content-box">
            <div class="inner">
            <img class="content-box-thumb" src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/6234/QrXgXMhCSouyhU7idq7g_IMG_8402.jpg' alt="tech image" />
            <h1 class="content-box-header">
              Fireworks on the 4th
            </h1>
            <p class="content-box-blurb">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil voluptatibus aliquam asperiores, cum distinctio aliquid recusandae velit beatae. Reprehenderit in eum, expedita, alias explicabo iure amet. Assumenda consequuntur vitae fugit.
            </p>
            <a class="readmore-link" href="#" >read more</a>
            </div>
          </article>
      </div>
    </div>
</body>

<script>
    var elem = document.querySelector('.grid');
    var msnry = new Masonry( elem, {
  // options
  itemSelector: '.card',
});
</script>
</html>