<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>R Arvind</title>
    <link rel="stylesheet" href="css/blog.css">
    <link href="https://fonts.googleapis.com/css?family=Oxygen" rel="stylesheet">
</head>

<body>
    <header>
        <div class="navbar">
            <div class="navbar-left">
                <div class="navbar-item">
                    LOGO
                </div>
            </div>
            <div class="navbar-right">
                <div class="navbar-item is-active">
                    Home
                </div>
                <div class="navbar-item">
                    Projects
                </div>
                <div class="navbar-item">
                    Portfolio
                </div>
                <div class="navbar-item">
                    Resume
                </div>
            </div>
        </div>
    </header>

    <!-- <div class="card">
        <img src="bg1.jpg" alt="img" class="card-image">
        <div class="card-info">
            <div class="card-name">Sample card</div>
            <div class="card-date">4 September 2018</div>
        </div>
    </div> -->
    <div class="banner">

    </div>
    <div class="container">
    <div class="grid">
        <article class="grid-item card">
            <img class="card-thumb" src='./assets/grid.jpeg' alt="grid"/>
            <div class="card-body">
          <h1 class="card-header">
            Making a multiheight grid in CSS
          </h1>
          <p class="card-content">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius in similique sequi dolore nam vitae perferendis deleniti minus culpa tempora quos.
          </p>
          <a class="readmore-link" href="#" >read more</a>
          </div>
        </article>
        <article class="grid-item card">
            <img class="card-thumb" src='./assets/grid.jpeg' alt="grid"/>
            <div class="card-body">
          <h1 class="card-header">
            Making a multiheight grid in CSS
          </h1>
          <p class="card-content">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius in similique sequi dolore nam vitae perferendis deleniti minus culpa tempora quos.
          </p>
          <a class="readmore-link" href="#" >read more</a>
          </div>
        </article>
        <article class="grid-item card">
            <img class="card-thumb" src='./assets/grid.jpeg' alt="grid"/>
            <div class="card-body">
          <h1 class="card-header">
            Making a multiheight grid in CSS
          </h1>
          <p class="card-content">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius in similique sequi dolore nam vitae perferendis deleniti minus culpa tempora quos.
          </p>
          <a class="readmore-link" href="#" >read more</a>
          </div>
        </article>
        <article class="grid-item card">
            <img class="card-thumb" src='./assets/grid.jpeg' alt="grid"/>
            <div class="card-body">
          <h1 class="card-header">
            Making a multiheight grid in CSS
          </h1>
          <p class="card-content">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius in similique sequi dolore nam vitae perferendis deleniti minus culpa tempora quos.
          </p>
          <a class="readmore-link" href="#" >read more</a>
          </div>
        </article>
        <article class="grid-item card">
            <img class="card-thumb" src='./assets/grid.jpeg' alt="grid"/>
            <div class="card-body">
          <h1 class="card-header">
            Making a multiheight grid in CSS
          </h1>
          <p class="card-content">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius in similique sequi dolore nam vitae perferendis deleniti minus culpa tempora quos.
          </p>
          <a class="readmore-link" href="#" >read more</a>
          </div>
        </article>
      </div>
    </div>
  </div>
</body>

</html>